.image-left {
  display: block;
  valign: middle;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
.image-right {
  display: block;
  valign: middle;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
.indented {
  padding-left: 50pt;
  padding-right: 50pt;
}
